body {
    background-color: #f6f6f6;
}

.mainBody {
    padding-top: 70px;
    margin-bottom: 30px;
}


/*
.mainForm {
    background-color: #fcd0bc;
}
*/

.feed {
    border: 1px solid #ddd;
    background-color: #eaf6ea;
    border-top-color: transparent;
    padding: 15px;
}

.chat {
    background-color: #e2e9f4;
    margin-top: 40px;
}

.col-xs-offset-1 {
    margin-left: 4.16666667%;
}

.col-xxs-offset-1 {
    margin-left: 2.08888888%;
}

.nav-tabs {
    border-bottom: 1.5px solid #337ab7;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1.5px solid #337ab7;
    border-bottom-color: transparent;
    background-color: #8bcd8b;
    color: #fff;
}